.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 239, 241);
  padding-top: 30px;
  padding-bottom: 10px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  box-shadow: 0 1px 1px rgb(203, 201, 199);
  z-index: 1;
}

.account-header h1 {
  font-size: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  width: 79%;
}

.operation {
  display: flex;
  justify-content: space-between;
}

.operation:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.operation:nth-child(odd) {
  background-color: rgb(247, 247, 247);
}

.operation h1,
.operation h2,
.operation h3 {
  display: flex;
  font-size: 14px;
  font-weight: normal;
}

.operation h1 {
  justify-content: flex-start;
  width: 15%;
  min-width: 70px;
  padding-left: 20px;
}

.operation h2 {
  padding-left: 10px;
  justify-content: flex-start;
  width: 60%;
}

.operation h3 {
  width: 20%;
  justify-content: flex-end;
  padding-right: 20px;
}

.see-more {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  width: 79%;
}
